body {
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0;
    background-color: bisque;
}

label {
    display: block;
    margin: 10px 0;
}

input, textarea, button {
    border: 1px solid black;
    border-radius: 5px;
}

textarea {
    width: 390px;
    height: 100px;   
    margin-bottom: 15px;
}

button {
    height: 25px;
    cursor: pointer;
    background-color: white;
}

button[disabled] {
    cursor: default;
}

#title {
    width: 200px;
    border-radius: 5px;
}

.container {
    width: 60%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: azure;
}

.note-input {
    width: 40%;
    margin-left: 30px;
}

.note-output {
    width: 40%;
    margin-right: 30px;
}

.publicated-note {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
}

.publicated-note h2 {
    text-align: center;
}